/********************
 * FEATURE CAROUSEL *
 ********************/
#carousel-container {
  position:relative;
  width:525px;
  padding-top:30px;
}

#carousel {
  height:300px;
  width:525px;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
#carousel .carousel-image {
  display:block;
}
#carousel .carousel-feature {
  position:absolute;
  cursor:pointer;
}
#carousel .carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background:none;
}
#carousel .carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}

#carousel .tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background:none;
}

#carousel .tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
#carousel .tracker-individual-container li {
  list-style:none;
}
#carousel .tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background:none;
}
#carousel .tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background:none;
}
#carousel-left {
  position:absolute;
  bottom:170px;
  left:-85px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:170px;
  right:-26px;
  cursor:pointer;
}