#container {
	width:450px;
	padding:44px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:450px;
	height:450px;
	position:relative;
}


#ribbon {
	position:absolute;
	top:0px;
	left:320px;
	z-index:500;
}

.overlay {
  background:url(../images/frame.png) no-repeat 0 0;  
  position: absolute; 
  left: 40px; 
  top: -5px; 
  height:410px; 
  width:410px; 
  z-index:400;  
}

#frame {
	position:absolute;
	z-index:0;
	width:400px;
	height:409px;
	top:0px;
	left:50px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:20px;
	left:65px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:360px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:360px;
	height:360px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:30px auto 0;
	width:100px;
	position:relative;
	left:20px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

