/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0

	Copyright 2009 Jeremie Tisseau
	"Sliding Login Panel with jQuery 1.3.2" is distributed under the GNU General Public License version 3:
	http://www.gnu.org/licenses/gpl-3.0.html
*/

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(../images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: normal;
	line-height: 42px;
	margin: 0;
	right: 200px;
  	color: #646464;
  	font-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
  	background: url(../images/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	background: url(../images/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
	font-family: 'lobster_tworegular', Helvetica, sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#646464;
    display:inline-block;
    vertical-align:middle;
    line-height:42px;
    zoom: 1;
    *display: inline;
    margin:0;
    text-shadow:0 1px 1px rgba(255,255,255,.8);
	width:auto;
  	background: url(../images/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
	color: #646464;
}

.tab ul.login li a:hover {
	text-decoration:none;
}

.tab .sep {color:#646464;}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 150px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../images/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top:543px;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	height: 400px;
	color: #999999;
	background: #efefef;
	overflow: hidden;
	position: relative;
	z-index:100;
	display: none;
	border-bottom:1px solid #ccc;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
}

#panel p {
	margin: 5px 0;
	padding: 0;
	color:#5a5a5a;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 950px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 300px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #ccc;
	height: 300px;
	display:inline-block
}

#panel .content .right {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 600px;
	height: 300px;
	float:right;
	display:inline-block
}

#panel .content form {
	margin: 0px 25px 25px 25px;
}

#panel .content form label {
	float: left;
	height:16px;
	clear: both;
	width: 280px;
	display: block;
	color:#5a5a5a;
}

#panel .content input.field {
	border: 1px #ccc solid;
	margin-right: 5px;
	margin-top: 4px;
	width: 260px;
	height: 16px;
}

#panel .content textarea.field {
	border: 1px #ccc solid;
	margin-right: 5px;
	margin-top: 4px;
	width: 260px;
	height: 48px;
}


#panel .content input:focus.field {
	background: #ffffff;
}

/* BUTTONS */
/* Login and Register buttons */

#panel .content input.submit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_submit.png') no-repeat center bottom;
  text-indent: -9000em;
  text-transform: capitalize; 
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:264px;
  height:40px;
}

#panel .content input.submit:hover {
  margin: 0px;
  padding:0;
  border: 0;
  background: transparent url('../images/btn_submit_hover.png') no-repeat center bottom;
  text-indent: -9000em;
  text-transform: capitalize; 
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:264px;
  height:40px;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}

