@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/

@font-face {
    font-family: 'lobster_twobold_italic';
    src: url('../font/lobstertwo-bolditalic-webfont.eot');
    src: url('../font/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lobstertwo-bolditalic-webfont.woff') format('woff'),
         url('../font/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
         url('../font/lobstertwo-bolditalic-webfont.svg#lobster_twobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_twoitalic';
    src: url('../font/lobstertwo-italic-webfont.eot');
    src: url('../font/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lobstertwo-italic-webfont.woff') format('woff'),
         url('../font/lobstertwo-italic-webfont.ttf') format('truetype'),
         url('../font/lobstertwo-italic-webfont.svg#lobster_twoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_tworegular';
    src: url('../font/lobstertwo-regular-webfont.eot');
    src: url('../font/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lobstertwo-regular-webfont.woff') format('woff'),
         url('../font/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('../font/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*---CSS 3 @ Fontface End---*/

/* You'll need prefixes. @-ms-viewport, @-o-viewport, etc... */

@-ts-viewport {
    width: device-width;
}

/*---Webpage Basic Structure---*/
html {
  height:100%;
  background:#ffffff;
  margin: 0;
  padding: 0;
  border:0;
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color:#3c3c3c;
  font-size:13px;
  line-height:23px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
}

header {
  width:100%;
  height:66px;
  position:absolute;
  z-index:999px;
}

footer{
  width:100%;
  height:62px;
  background:url("../images/footer_bar.jpg") repeat-x;
  position:absolute;
  bottom:0;
  left:0;
  margin-bottom:0;
  padding-bottom:0;
  line-height:0;
}


.wrapper{
  width:100%;
  min-height:100%;
  height:auto; 
  position:relative;
}

.top_bar {
  background:url("../images/top_bar.png") repeat-x;
  width:100%;
  height:auto;
}

.content {
  height:auto; !important
  min-height: 100%;
  height:100%;
}

.content_wrapper {
  width:950px; 
  margin:0 auto;
  min-height:100%;
}

.content_top {
  background:url("../images/background_pattern.jpg");
  padding-top:60px;
}

.page_divider {
  background:url("../images/divider_bar.png") repeat-x; 
  width:100%;
  height:42px; 
}

.content_btm {
  background:#ffffff; 
  padding-bottom:62px;
}

.client_content_top {
  background:url("../images/box_content_client_top.png") top no-repeat;
  width:902px;
  height:93px;
}

.client_content_mid{
  background:url("../images/box_content_client_mid.png") repeat-y;
  width:902px;
  height:auto;
}

.client_content_btm{
  background:url("../images/box_content_client_btm.png") no-repeat;
  width:902px;
  height:35px;
}

.client_table{
  width:900px; 
  padding:0; 
  margin:0;
}

.client_table tr{
  line-height:0; 
  padding:0; 
  margin:0;
}

.client_table tr td{
  width:225px; 
  height:140px;
  text-align:center; 
  vertical-align:bottom; 
  background:url('../images/client_box.jpg') no-repeat;
}

#lightbox_title {
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:30px;
  line-height:40px;
  font-weight:normal;
  color:#5a5a5a;
  padding:0px 0px 25px 0px;
  margin:0;
}

#lightbox_panel { 
  position: absolute;
  top:70px;
  left: 0;
  width:500px;
  height:720px;
  display:none;
  z-index:9999;
  padding:25px;
  background-color:#ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#lightbox 
{ 
   z-index: 9000;
   position: absolute;
   background-color: #000;
   width: 100%;
   height: 100%;
   display: none;
   top:0;
   left:0;
}

.close_button { 
  margin: 0;
  padding: 0;
  background: transparent url('../images/close.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  width:36px;
  height:36px;
  position:relative;
  top:-36px;
  left:36px;
}

.close_button:hover { 
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/close_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  width:36px;
  height:36px;
  position:relative;
  top:-36px;
  left:36px;
}

/*---Simple SlideShow---*/
ul.ppt {
	position: relative;
	width:200px;
	height:200px;
}

.ppt li {
	list-style-type: none;
	position: absolute;
	top:0;
	left:60px;
}

.ppt img {
	padding:0;
	background:url("../images/background_pattern.jpg");
}

/*---Simple SlideShow End---*/


/*---Sliding Boxes---*/
.boxgrid{ 
  width: 800px; 
  height: 350px; 
  background:#ffffff; 
  border: none; 
  overflow: hidden; 
  position: relative; 
}

.boxgrid img{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0; 
}

.boxgrid p{ 
	padding:none;
}
				

/*---Sliding Boxes End---*/

.services_list {
  list-style:decimal ourside;
  padding-left:70px;
  text-align:left;
  font-family: 'lobster_twoitalic', Helvetica, sans-serif;
  font-size:15px;
  font-weight:normal;
  color:#5a5a5a;
}

.services_list li {
  background:none;
}

.services_list li span{
  padding-left:10px;
  display:block;
}

.services_list li ul{
  padding-left:10px;
}

.services_list li ul li{
  padding-left:25px;
  background:url("../images/bullet_lite.png") no-repeat 0 5px;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  color:#3c3c3c;
  font-size:13px;
  line-height:23px;
  font-weight:normal;
}

.services2_list {
  list-style:none outside;
  padding-left:50px;
  text-align:left;
}

.services2_list li {
   background:url("../images/bullet_lite.png") no-repeat 0 5px;
}

.services2_list li span{
  padding-left:25px;
  display:block;
}

/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:0;
  padding:0px 0px 25px 25px;
  text-align:justify;
}

h1{
  font-family: 'lobster_twoitalic', Helvetica, sans-serif;
  font-size:40px;
  font-weight:normal;
  line-height:50px;
  color:#5a5a5a;
  padding:25px 0px 25px 25px;
  margin:0;
}

h2{
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:30px;
  font-weight:normal;
  line-height:40px;
  color:#5a5a5a;
  padding:25px 0px 25px 25px;
  margin:0;
}

h3{
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#646464;
  display:inline-block;
  vertical-align:middle;
  line-height:42px;
  zoom: 1;
  *display: inline;
  padding:0;
  margin:0;
  text-shadow:0 1px 1px rgba(255,255,255,.8);
}

h4{
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  color:#646464;
  display:inline-block;
  vertical-align:middle;
  line-height:42px;
  zoom: 1;
  *display: inline;
  padding:0;
  margin:0;
  text-shadow:0 1px 1px rgba(255,255,255,.8);
}

h5 {
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  line-height:28px;
  color:#cd2e2a;
  padding:0px 0px 25px 25px;
  margin:0;
}

h6 {
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:24px;
  color:#cd2e2a;
  padding:0;
  margin:0;
}

.h7{
  font-family: 'lobster_tworegular', Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#5a5a5a;
  vertical-align:top;
  line-height:28px;
  padding:25px 0px 25px 25px;
  margin:0;
}

/*---Font Formating End---*/


/*---Main Menu---*/
#maincurrent{
  width:100%;
  height:50px;
  display:block;
  font-size:18px;
  color:#c10d0d;
  text-decoration:none;
  background:url("../images/nav_hover_active.png") center bottom no-repeat;
}

nav {
  width:100%;
  height:53px;
  border:none;
  margin:0px;
  padding:0px;
  background:url("../images/nav_bar.png") top right no-repeat;
  font-family: 'lobster_twobold_italic', Helvetica, sans-serif;
  line-height:0;
}

nav ul{
  margin:0;
  padding:0;
  list-style:none;
  padding:0px 10px 0px 0px;
}

nav ul li{
  width:120px;
  height:50px;
  float:right;
  text-align:center;
}
		
nav ul li a{
  width:120px;
  height:50px;
  background:none;
  padding:0;
  margin:auto;
  font-size:18px;
  font-weight:normal;
  color:#929292;
  line-height:50px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,1);
  display:block;
}
	
nav ul li:hover a{
  text-decoration:none;
  width:100%;
  height:50px;
  display:block;
  font-size:18px;
  background:url("../images/nav_hover_active.png") center bottom no-repeat;
}
		
nav ul li ul{
  width:100%;
  height:0px;
  margin:0px;
  padding:0;
  border:0;
  display:none;
  background-color:#ffffff;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

nav ul li:hover ul{
  display:block;
}
			
nav ul li ul li {
  width:100%;
  height:0px;
  border:0;
  margin:0px;
  padding:0px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
nav ul li:hover ul li a{
  background:none;
}
		
nav ul li ul a{
  width:100%;
  margin:0px;
  padding:0px;
  display:block;
  font-size:16px;
  font-style:normal;
  line-height:35px;
  color:#000000;
}
					
nav ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
nav ul li ul li:hover a{
  border:0px;
  width:100%;
  height:0px;
  text-decoration:none;
  color:#000000;
  background:#ffffff;
  text-shadow:none;
}

/*---Main Menu End---*/

/*---Footer Menu---*/

.footer_menu{
  width:400px;
  height:30px;
  padding:5px 0px 0px 0px;
  margin:0px;
  font-size:12px;
}
	
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
  float:left;
}
	
.footer_menu ul li {
  width:80px;
  height:30px;
  padding:0px;
  float:left;
  display:inline-block;
  font-size:12px;
  line-height:30px;
  font-weight:normal;
  vertical-align:middle;
  text-shadow:0 1px 1px rgba(0,0,0,.8);
}
	
.footer_menu ul li a{
  color:#8d8d8d;
  text-decoration:none;
}
	
.footer_menu ul li a:hover{
  color:#ffffff;
  text-decoration:none;
}	
		
.footer_menu li ul{
  width:100%;
  height:0;
  padding:0px;
  margin:0px;
  border:0px;
  display:none;
  position:absolute;
  z-index:200;
}
	
.footer_menu li:hover ul{
  display:block;
}
	
.footer_menu li li {
  margin:0px;
  padding:0px;
  color:#000000;
}
		
.footer_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.footer_menu li ul a{
  float:left;
  margin:0px;
}
		
.footer_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#000000;
  text-decoration:none;
}
	
/*---Footer Menu End---*/

.copyright {
  background: url('../images/footer_logo_copyright.png') no-repeat;
  float:left; 
  width:473px;
  height:60px;
  color:#8d8d8d;
  line-height:13px; 
}

.footer_text_1 {
 padding: 12px 0px 0px 160px; 
 height:20px; 
 display:inline-block; 
 color:999999; 
 font-size:9px;
 text-shadow:0 1px 1px rgba(0,0,0,.8);
}

.footer_text_2 {
  display:block; 
  font-size:9px; 
  height:20px; 
  width:auto; 
  padding:5px 0px 0px 0px; 
  line-height:13px; 
  color:#999999;
  text-shadow:0 1px 1px rgba(0,0,0,.8);
}

.facebook {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:42px;
  vertical-align:middle;
}

.facebook:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:100px;
  height:42px;
  vertical-align:middle;
}

.request_quote {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/request_quote.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:292px;
  height:100px;
}

.request_quote:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/request_quote_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:292px;
  height:100px;
}

.request_quote_lite {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/request_quote_lite.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:284px;
  height:74px;
}

.request_quote_lite:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/request_quote_lite_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:284px;
  height:74px;
}

.batch {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/batch.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:140px;
  height:134px;
}

.batch:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/batch_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:140px;
  height:134px;
}

.partner_web_1 {
  margin: 0;
  padding: 20px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/web.png') no-repeat center;
  color:#5a5a5a;
  text-decoration:none;
  font-weight:bold;
  /*text-indent: -1000em;*/
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:264px;
  height:42px;
}

.partner_web_1:hover {
  margin: 0;
  padding: 20px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/web_hover.png') no-repeat center;
  color:#5a5a5a;
  text-decoration:none;
  font-weight:bold;
  /*text-indent: -1000em;*/
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:264px;
  height:42px;
}

.partner_web_2 {
  margin: 0;
  padding: 50px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/web_2.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:264px;
  height:42px;
}

.partner_web_2:hover {
  margin: 0;
  padding: 50px 0px 0px 0px;
  border: 0;
  background: transparent url('../images/web_2_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:264px;
  height:42px;
}

.app_store {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/app_store.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.app_store:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/app_store_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.play_store {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/play_store.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.play_store:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/play_store_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.app_world {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/app_world.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.app_world:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/app_world_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.browser {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/browser.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

.browser:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/browser_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:183px;
  height:65px;
}

#submit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_submit.png') no-repeat center bottom;
  text-indent: -9000em;
  text-transform: capitalize; 
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:264px;
  height:40px;
}

#submit:hover {
  margin: 0;
  padding:0;
  border: 0;
  background: transparent url('../images/btn_submit_hover.png') no-repeat center bottom;
  text-indent: -9000em;
  text-transform: capitalize; 
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  zoom:1;
  *display:block;
  width:264px;
  height:40px;
}

.mobile_tab {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/mobile_tab.png') no-repeat center bottom;
  text-indent: -9000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block; 
  zoom:1;
  *display:block;
  width:62px;
  height:217px;
  position:fixed;
  right:0;
  top:300px;
  z-index:99999;
}



