﻿.menu_over a
{
	color:#ffffff;
	text-decoration:none;
}
.menu_over td:hover
{
	background:url(images/over_bg2.png);
}
.menu_over td
{
	width:150px;
	padding: 5px 10px 5px 15px;
}

/* IE8 */
* .divabout
{
	background:url(images/over_bg.png);width:150px; position:absolute;z-index:100;margin-left:147px;margin-top:-24px
}

/* IE7 */
*+html .divabout
{
	background:url(images/over_bg.png);width:150px; position:absolute;z-index:100;margin-left:1px;margin-top:0px
}