.main-title {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #cb0713;
	text-decoration: none;
}
.main-content {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
	text-decoration: none;
}
.bullet-point {
	font-size: 10px;
	color: #333333;
	/*color: #CE050B;*/
}
.repeat-x {
	background-repeat: repeat-x;
}
.main-footer1 {
	font-family: Tahoma;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	text-align: left;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 2px;
}
.main-footer2 {
	font-family: Tahoma;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	text-align: right;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 2px;
	line-height: 14px;
}
.main-footer3 {
	font-family: Tahoma;
	font-size: 10px;
	color: Black;
	text-decoration: none;
	text-align: right;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 2px;
	line-height: 14px;
}
.main-footer2a {
	font-family: Tahoma;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	text-align: right;
	padding-right: 10px;
	line-height: 14px;
}
.title {
	font-family: Tahoma;
	font-size: 14px;
	color: #cb0713;
	text-decoration: none;
	font-weight: bold;
}
.height16 {
	line-height: 16px;
}
a.content-link:link, a.content-link:visited, a.content-link:active {
	font-size: 11px;
	color: #CC3300;
	text-decoration: underline;
	font-family: Tahoma;
}
a.content-link:hover {
	color: #FF9900;
	text-decoration: none;
	background-color: #333333;
	padding: 1px;
}
.no-repeat {
	background-repeat: no-repeat;
}
.repeat-y {
	background-repeat: repeat-y;
}
.note {
	font-family: Tahoma;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
}
.form {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-bottom: 8px;
	vertical-align: top;
}
.text12 {
	font-family: Tahoma;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.arial10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
}
.outline {
	background-color: #F4F4F4;
	border: 1px dotted #999999;
	padding: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	line-height: 15px;
	color: #666666;
	text-decoration: none;
}
.text14 {
	font-size: 14px;
	color: #333333;
}

a.content-link10:link, a.content-link10:visited, a.content-link10:active {
	font-size: 10px;
	color: #CC3300;
	text-decoration: underline;
}
a.content-link10:hover {
	color: #FF9900;
	text-decoration: none;
	background-color: #333333;
	padding: 1px;
}
.grey11 {
	color: #666666;
	line-height: 16px;
}
.outline2 {
	border: 1px solid #CCCCCC;
}
.showcase-bar {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	background-color: #999999;
}
.form-button {
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #999999;
	margin-top: 0px;
	margin-bottom: 8px;
	vertical-align: top;
	background-color: #CCCCCC;
}

.style1 {color: #FF0000}

.enquiry {
	color:#666666;
	font-style:italic;
	font-weight:bold;
}